body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: yellow;
}

.midcontainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  border-radius: 15px;
  border-color: #158CC0;
  border-style: outset;
  padding-top: 20px;
  padding-bottom: 20px;
}

#inventorytable {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  text-align: center;
  border-radius: 15px;
  border-color: #158CC0;
  border-style: outset;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


#header{
  display: block;
  margin: auto;
  margin-bottom: 25px;
}

h1 {
  color: #158CC0;
  margin-top: 20px;
  font-variant: small-caps;
  font-size: 80px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

h2 {color: #158CC0; text-align: center;}

h3 {
  color: #158CC0;
}

.topnav {
  background-color: #158CC0;
  overflow: hidden;
  height: 45px;
  width: 100%;
  padding-top: 10px;
  color: #ffffff;
  position: fixed;
  top: 0px;
  z-index: 10;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: red;
  color: yellow;
}

.product {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-info {
  width: 500px
  text-align: center;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: red;
  margin: 10px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 90px;
  text-align: center;
}

input[type=submit] {
  margin: 10px;
  background: red;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  color: #ffffff;
}

.row {
  display: flex;
  justify-content: center;
}

label {
  color: #158CC0;
}

a.name {
  color: #158CC0;
  text-decoration: none;
}

a.name:visited {
  color: red;
}

select {
  color: black;
  width: 50px;
  height: 20px;
  border: none;
  border-radius: 3px;
  background-color: gold;
  margin: 10px;
  text-align-last: center;
}

input[type=text], input[type=number] {
  background-color: #158CC0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  height: 15px;
  border-bottom: 2px solid #158CC0;
  width: 60%;
  margin: 10px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  align-items: center;
}

#img-div {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 400px;
  width: 100%;
  background: url(/images/dc_snow.jpg);
  background-repeat: no-repeat;
  background-position: bottom bottom;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 5px;
}

#dc_sports {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  opacity: 0.7;
  letter-spacing: 15px;
  text-shadow: 5px 10px #000000;

}

#dc_sports_p {
  position: relative;
  top: 30%;
  transform: translateY(-80%);
  color: #ffffff;
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  opacity: 0.7;
  letter-spacing: 10px;
  text-shadow: 5px 5px #000000;

}

.pagefooter {
  width: 100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  background-color: #158CC0;
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
}
