<h1>All Manufacturers</h1>

<hr />
<div class="row">
  <p>(Click on a manufacturer for details)</p>
</div>

<div class="product">

  <%= for manufacturer in @manufacturers %>
  <div class="product-info" id="<%= manufacturer.name %>">
    <a class="name" href="/manufacturers/<%= manufacturer.id %>">
    </a>

    <hr />
  </div>

  <% end %>

</div>
