<h1>All Manufacturers</h1>


<% for manufacturer in @manufacturer %>
  <p>Name: <%= manufacturer.name %></p>
  <p>Phone: <%= manufacturer.phone %></p>
  <p>Country: <%= manufacturer.country %></p>
  <p> <a href="/manufacturers/<%= manufacturer.id %>">Show Product</a> </p>
<hr />
<% end %>
