<h1>New Manufacturer</h1>


<div class="midcontainer">

<form method="post" action="/manufacturers">
  <label for="name">Name:</label>
    <input id="name" type="text" name="" name="name" />
  <label for="phone">Phone:</label>
    <input id="phone" type="text" name="phone">
  <label for="country">Country:</label>
    <input id="country" type="number" name="country" />

    <input type="submit" value="Add Manufacturer"/>
</form>

</div>
